* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-style: normal;
}

body {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color:#000;
}


li {
    list-style-type: none;
}

.top {
    /* margin-bottom: 140px; */
    min-width: 320px;
}

.top_header {
    min-height: 92px;
    background-color: #043873;
}

.top_header_btn {
    max-width: 1480px;
    padding-left: calc(50% - 740px);
    padding-right: calc(50% - 740px);
    display: flex;
    justify-content: space-between;
}

.top_header_btn_wrap {
    display: flex;
}

.top_header_logo {
    width: 192px;
    height: 34px;
    display: flex;
}

.top_header_logo_img {
    width: 37px;
    height: 29px;
}

.top_header_logo_text {
    width:144px;
    text-align: right;
    font-size: 8pt;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.top_header_navigator {
    max-width: 988px;
    /* min-height: 60px; */
    display: flex;
    justify-content: flex-end;
}

.top_header_navigator_menu {
    max-width: 550px;
    min-height: 24px;
    gap: 32px;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.top_header_navigator_menu_item {
    min-height: 24px;
    margin-right: 10px 
}

.top_header_navigator_menu_item::after {
    width: 29px;
    transform: rotate(90deg);
}

.main_top {
    min-height: 830px;
    background-color: #043873;
}

.main_top_content {
    max-width: 1480px;
    padding-left: calc(50% - 740px);
    padding-right: calc(50% - 740px);
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: center;
}

.main_top_left {
    width:45%;
    /* padding-left:220px; */
    color: #ffffff;
    font-weight: bolder;
    font-size:32px;
    letter-spacing: -2%;
    padding-top: 234px;
    padding-bottom: 234px;

}

.main_top_right {
    width:55%;
    margin-top: 140px;
    margin-bottom: 140px;
}

.main_top_right_content {
    min-height: 550px;
    max-width: 825px;
    background-color: #C4DEFD;
}

.top_main_menu_gappa {
    color: #043873;
}


.top_main_menu_gappa2 {
    color: #043873;
}